h1, h2, h3 {
    margin: 0px !important;
}

h3{
    font-size: 80% !important;
}

/* for all mark it svg elements*/
.mark-it{
    fill-opacity:0.0;
    stroke: red;
}

/* those svg elements that do not fade-in*/
.mark-it:not(.fade-in),
.mark-it:not(.fade-in-then-out){
    stroke-width: 2px
}

/* for the fragments that fade in */
.mark-it.current-fragment{
    animation: 1s draw linear forwards;
}

@keyframes draw {
    0% {
      stroke-dasharray: 10;
      stroke-width: 0px;
    }
    100% {
      stroke-dasharray: 2;
      stroke-dashoffset: 10;
      stroke-width: 2px;
    }
  }


.code{
    background-color: grey;
}

ul, p{
    font-size: x-large;
}

li:not(:last-child) { 
    margin-bottom: .3em;  
 }


kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.gh-button{
    font-size: 80%; 
    padding: 3px; 
    border-radius: 3px;
    white-space: nowrap;
}

.gh-green{
    background-color:  #1f883d; 
}

.gh-lightgray{
    background-color: #fefefe;
    color: black;
}

.img-overlay {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    padding-top: 43.958333334%; /* img width in px / img height in px * width of element as a fraction (1055px/1920px*0.8)  */
    border-radius: 5px; /* optional*/
}



.img-overlay svg {
    position: absolute;
    top: 0;
    left: 0;
}

.hl{
    color: orange
}



#screenshot-0{
    background-image: url("images/Screenshot_0.png");
}
#screenshot-1{
    background-image: url("images/Screenshot_1.png");
}
#screenshot-2{
    background-image: url("images/Screenshot_2.png");
}
#screenshot-2b{
    background-image: url("images/Screenshot_2b.png");
}
#screenshot-3{
    background-image: url("images/Screenshot_3.png");
}
#screenshot-4{
    background-image: url("images/Screenshot_4.png");
}
#screenshot-5{
    background-image: url("images/Screenshot_5.png");
}
#screenshot-6{
    background-image: url("images/Screenshot_6.png");
}
#screenshot-7{
    background-image: url("images/Screenshot_7.png");
}
#screenshot-8{
    background-image: url("images/Screenshot_8.png");
}
#screenshot-9{
    background-image: url("images/Screenshot_9.png");
}
#screenshot-10{
    background-image: url("images/Screenshot_10.png");
}
#screenshot-11{
    background-image: url("images/Screenshot_11.png");
}






